
body {
    font-family: 'Montserrat', sans-serif; /* Usar Montserrat */
    margin: 0;
    padding: 20px;
    background-color: #fff; /* Fondo blanco para el body */
    color: #333;
}

 .header {
    background-color: #fff;
    padding: 0 0 20px 0;
    text-align: center;
    border-bottom: 0px solid #e0e0e0;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header-menu-link {
    font-size: 14px;
    text-decoration: none;
    color: #999;
    font-weight: 500;
}

.header-menu-link:hover {
    color: #333;
    text-decoration: none;
}

/* Estilos para el contenedor principal */
    .presentacion-inicio {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: left; 
        align-items: center; /* Centrar elementos cuando se apilan */
        max-width: 960px; /* Ancho máximo del contenido */
        margin: 40px auto;
        padding: 20px;
        background-color: #fff; 
    }

    .presentacion-inicio__image-column {
        display: flex;
        margin-bottom: 0; 
        margin-right: 40px;
    }


.presentacion-inicio img {
    max-width: 100%;
    border-radius: 50%; /* Opcional: para hacer la imagen redonda */
    width: 100%
    object-fit: contain;
}

.presentacion-inicio__text-content {
    text-align: left;
}

h3 {
    color: #000;
    margin-bottom: 5px;
    font-size: 14px; 
    font-weight: 600;
}



h2 {
    color: #999999;
    margin-bottom: 5px;
    font-size: 10px; 
    font-weight: 300; 
}

h1 {
    margin-top: 0;
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
    font-size: 12px;
}

.presentacion-inicio__text-content a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px 5px 0;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.presentacion-inicio__text-content a:hover {
    background-color: #0056b3;
}

/* Media query para mobile */

@media (max-width: 768px) {

        .presentacion-inicio {
            flex-direction: column;

        }

        .presentacion-inicio__image-column {
            justify-content: center; 
            margin-bottom: 20px; /* Espacio entre imagen y texto en móvil */
        }

        .presentacion-inicio img {
            margin: 0 auto; /* Centrar la imagen */
            width: 85%
        }

        .presentacion-inicio__text-content {
            flex: 2; 
            text-align: center; 
            padding: 0 15px;
        }


}


 /* Estilos para el CURRICULO */



.presentacion-cv {
    margin: 40px auto;
    max-width: 660px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.presentacion-cv-titulo {
    color: #000;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 700; 
}

.fecha {
    font-style: italic;
    margin-left: 10px;
    color: #999999;
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: 400;
}
